<?xml version="1.0"?>
<configuration>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

  <appSettings>
    <add key="iKnodeServiceUrl" value="https://api.iknode.net/Commands" />
    <add key="userId" value=""/>
    <add key="apiKey" value=""/>
    <add key="mode" value="debug"/>
  </appSettings>
</configuration>
