<?xml version="1.0"?>
<configuration>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

  <appSettings>
    <add key="iKnodeServiceUrl" value="https://api.iknode.net/Applications" />
    <add key="userId" value="73c1ccf9-13e1-4428-b5fc-4a8388d3552a"/>
    <add key="apiKey" value="e75aed47-f8f9-4df6-b409-707d7b0f7820"/>
    <add key="mode" value="debug"/>
  </appSettings>
</configuration>
